@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h2>@ViewData["Title"]</h2>

<p>Your privacy is important to us. It is TicketWave‘s policy to respect your privacy and comply with any applicable law and regulation regarding any personal information we may collect about you, including across our website, <strong>TicketWave.ca</strong>, and other sites we own and operate.</p>

<h4>Information We Collect</h4>

<p>Information we collect falls into one of two categories: “voluntarily provided” information and “automatically collected” information.</p>

<ul>
    <li><strong>“Voluntarily provided”</strong> information refers to any information you knowingly and actively provide us when using or participating in any of our services and promotions.</li>
    <li><strong>“Automatically collected”</strong> information refers to any information automatically sent by your devices in the course of accessing our products and services.</li>
</ul>

<h4>Log Data</h4>

<p>When you visit our website, our servers may automatically log the standard data provided by your web browser. It may include:</p>
<ul>
    <li>Your device’s Internet Protocol (IP) address</li>
    <li>Your browser type and version</li>
    <li>The pages you visit</li>
    <li>The time and date of your visit</li>
    <li>The time spent on each page</li>
    <li>Other technical details</li>
</ul>

<h4>Security of Your Personal Information</h4>

<p>We will protect your personal information within commercially acceptable means to prevent loss, theft, unauthorized access, disclosure, copying, use, or modification. However, no method of electronic transmission or storage is 100% secure.</p>

<h4>How Long We Keep Your Personal Information</h4>

<p>We keep your personal information only as long as necessary. If it is no longer required, we will delete it or anonymize it.</p>

<h4>Your Rights and Controlling Your Personal Information</h4>

<ul>
    <li><strong>Access:</strong> You may request details of the personal information we hold about you.</li>
    <li><strong>Correction:</strong> If you believe any of your personal data is inaccurate or incomplete, please contact us.</li>
    <li><strong>Withdraw Consent:</strong> You can withdraw consent for any activities requiring it.</li>
    <li><strong>Unsubscribe:</strong> You can opt out of marketing communications at any time.</li>
</ul>

<h4>Business Transfers</h4>

<p>If TicketWave is acquired, your personal information may be included in the transferred assets. The new owner must comply with this privacy policy.</p>

<h4>Changes to This Policy</h4>

<p>We may update our privacy policy to reflect business, legal, or regulatory changes. If changes are significant, we will notify you.</p>